.jwPopup-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    transition: visibility 0s, opacity .15s linear;
    padding:0;
    margin:0;
    color:#000;
}
.jwPopup-container.jwPopup-nobackground{
    width:initial;
    height:initial;
}
.jwPopup-container:not(.show){
    opacity:0;
    visibility:hidden;
}
.jwPopup-container.show{
    opacity:1;
    visibility: visible;
    overflow-x:hidden;
    overflow-y:auto;
}
/*
.jwPopup-dialog{
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,-50px);
}
.jwPopup-container.show > .jwPopup-dialog{
    -webkit-transform: none;
    transform: none;
    z-index: 1050;
}
*/

.jwPopup-background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.jwPopup-container.show > .jwPopup-background{
    opacity: .5;
}
.jwPopup-container.show.jwPopup-nobackground > .jwPopup-background{
    display:none;
}
.jwPopup{
    background-color: #Fff;
    position:relative;
    top: 50%;
    margin: 0 auto;
    z-index: 1050;
    border-radius: 5px;
    letter-spacing: -1px;
}
.jwPopup:not(.jwPopup-no-transform).jwPopup-nobackground{
    transform:initial;
}
.jwPopup:not(.jwPopup-no-transform){
    transform: translate(0,-50%);
}
.jwPopup:not(.jwPopup-setted){
    display:none;
}
.jwPopup-small-width{
    max-width: 350px;
}
.jwPopup-medium-width{
    max-width: 500px;
}
.jwPopup-large-width{
    max-width: 950px;
}
@media(max-width:694px){
    .jwPopup-medium-width{
        margin: 0 20px;
    }
}
@media(max-width:950px){
    .jwPopup-large-width{
        margin: 0 20px;
    }
}
.jw-popup-btn{
    padding: 5px 10px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
}
.jw-popup-header{
    position: relative;
    background-color: #0e8cf9;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.jw-popup-header-title{
    display: inline-block;
    /* border-bottom: 1px solid #000; */
    font-size: 17px;
    letter-spacing: -1px;
    color:#fff;
}
button.jw-popup-close{
    position: absolute;
    right: 5px;
    border:none;
    background: none;
    cursor: pointer;
}
.jwPopup-small-width .jw-popup-body{
    padding: 15px;
    height: auto;
    max-height: 400px;
    overflow: auto;
}
.jwPopup-medium-width .jw-popup-body{
    padding: 15px;
    height: auto;
    max-height: 600px;
    overflow: auto;
}
.jwPopup-large-width .jw-popup-body{
    padding: 15px;
    height: auto;
    max-height: 700px;
    overflow: auto;
}
.jw-popup-FormCol{
    font-size: 14px;
    margin-bottom: 10px;
}
.jw-popup-FormInput input{
    width: 100%;
    box-sizing: border-box;
    padding:7px;
    box-shadow: 3px 3px 5px rgb(86 86 86 / 10%);
    border: 1px solid #e0e0e0;
    margin-bottom: 9px;
}
.jw-popup-FormInput input:focus{
    outline: none;
}
.jw-popup-footer{
    padding: 15px;
    text-align: center;
    border-top: 1px solid #eaeaea;
}
.jw-popup-footer .jw-footer-btn{
    margin:0 auto;
}
.jw-popup-footer .jw-footer-btn button{
    padding: 6px 20px;
    margin: 0 1px;
    border-radius: 2px;
    border: 0;
    font-size:12px;
}
.jw-popup-footer .jw-footer-btn .jw-popup-cancel{
    background-color: rgb(104, 104, 104);
    color: #fff;
}
.jw-popup-footer .jw-footer-btn .jw-popup-ok{
    background-color: rgb(0, 111, 214);
    color: #fff;
}
.jw-popup-footer .jw-footer-btn .jw-popup-x{
    background-color: rgb(240, 12, 80);
    color: #fff;
}
.jw-submit-edit-btn{
    font-size: 15px;
    border: 1px solid #3169c3;
    padding: 6px 35px;
    border-radius: 5px;
    background: #3169c3;
    color: #fff;
}
.jw-submit-edit-btn:disabled{
    background-color:#c3c3c3;
    border:1px solid #555;
}
.jw-st-calc-popup-add{
    font-size: 15px;
    border: 1px solid #f43659;
    padding: 6px 35px;
    border-radius: 5px;
    background: #f43659;
    color: #fff;
    margin-top: 14px;
}
.jw-alert-txt{
    font-size: 13px;
}
.jwPopup-tab-container{
    padding: 20px;
}
.jwPopup-tab-list{
    display: flex;
    align-items: center;
    justify-content: center;
} 
.jwPopup-tab-list-item{
    background-color: #fff;
    color: #484848;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #bfbfbf;
}
.jwPopup-tab-list-item.active{
    background-color:#0e8cf9;
    border: none;
    color: #fff;
}
.jwPopup-tab-item{
    padding: 20px 20px 0 20px;
}
.jwPopup-tab-item:not(.show){
    display:none;
}
.jw-popup-form-control{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.jw-popup-form-control:last-child{
    margin-bottom: 0;
}
.jw-popup-form-control-label{
    font-size: 13px;
}
.jw-popup-form-control-input{
    padding: 6px;
    font-size: 12px;
    width: 100%;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
}
.jw-popup-form-control-select{
    padding: 6px;
    font-size: 12px;
    width: 100%;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
}
